@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{
    --cor1: #FFC62F;
    --cor2: #028446;

    --fonte-padrao: 'PT Sans',Arial, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive, Helvetica, sans-serif;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
}

.barra{
    background-color: var(--cor1);
    height: 30px;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 5px;
}

.menu a{
    text-decoration: none;
    color: #fff;
    font-family: var(--fonte-destaque);
    letter-spacing: 2px;
    font-size: 1.5em;
    cursor: pointer;
}
.menu li:hover{
    transform: scale(1.1);
}
.menu li:active{
    transform: scale(1);
}
.menu{
    display: flex;
    flex-direction: row;
}

.menu li{
    margin: 10px;
}
.barra2{
    background-color: #fff;
    height: 10px;
}

header{
    background-color: var(--cor2);
}
.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.logo img{
    min-width: 50px;
    max-width: 100px;
    margin: 10px;
}
header h1{
    font-family: var(--fonte-destaque);
    font-size: 5em;
    letter-spacing: 4px;
    color: #fff;
}
nav{
    background-color: #e5e5e5;
}
.dados{
    background-color: #fff;
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
}

.dados>li{
    border: 1px solid rgba(0, 0, 0, 0.475);
    padding: 20px;
    flex: 1 1 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--fonte-padrao);
    cursor: pointer;
    
}
.dados>li:hover{
    background-color: var(--cor1);
    color: #fff;
    font-weight: bold;
}
.apresentacao{
    margin-top: 50px;
    text-align: center;
}
main{
    min-width: 280px;
    max-width: 1000px;
    margin: auto;
}
.conteudo{
    width: 100%;
    display: flex;
    margin-top: 10px;
    justify-content: center;
}
.selecao{
    display: flex;
    justify-content: center;
    margin: 50px;
}
.selecao select{
    width: 80%;
    height: 50px;
    border: 1px solid var(--cor1);
    border-radius: 10px;
}
.selecao option{
    text-align: center;
    font-family: var(--fonte-padrao);
}
main h2{
    font-family: var(--fonte-destaque);
    font-size: 1.5em;
}
main p{
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
}
#dados{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    margin: 50px;
}
.estilo>div{
    flex: 1 1 25%;
    padding: 5px;
    border: 1px solid var(--cor2);
    text-align: center;
}
.estilo h2{
    border-bottom: 1px solid var(--cor2);
    padding: 5px;
}
.estilo p{
    padding: 3px;
}
footer{
    display: flex;
    flex-direction: column;
    border-top: 1px solid #afafaf;
}
footer h2{
    color: var(--cor2);
    font-family: var(--fonte-destaque);
    margin: 5px 0px;
    font-size: 1.8em;
    letter-spacing: 2px;
}
footer h3{
    color: var(--cor1);
    font-family: var(--fonte-padrao);
    margin: 15px 0px;
    font-size: 1.5em;
}
footer p{
    font-family: var(--fonte-padrao);
    margin: 10px 0px;
    font-size: 1.2em;
}
.foo1{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e5e5e5;
}
.foo1_2{
    display: flex;
    width: 100%;
}
.foo1_2>*{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.foo2{
    border-top: 1px solid #afafaf;
    background-color: #b5b5b5;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: .8em;
}


.relatorio{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #000;
    margin: 20px 0px;
    font-family: var(--fonte-padrao);
    box-shadow: 3px 3px 25px rgba(0, 0, 0, 0.258);
}

.conteudorel{
    flex: 1 1 100%;
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #e5e5e5;
    border-top: 2px solid #e5e5e5;
    margin: 5px 0px;
}
.topoconteudo{
    flex: 1 1 100%;
    display: flex;
    flex-direction: row;
    border-radius: 10px 10px 0px 0px;
    background-color: #4c4c4c;
    color: #fff;
}
.con1, .topoconteudo div:nth-child(1){
    width: 90%;
    display: flex;
    justify-content: center;
    padding: 5px;
}
.topoconteudo div:nth-child(2){
    width: 10%;
    display: flex;
    justify-content: center;
    padding: 5px;
}
.con2{
    width: 10%;
    display: flex;
    justify-content: center;
    border-left: 1px solid #e5e5e5;
    padding: 5px;
}
.con2 a{
    padding: 5px;
    border: 1px solid var(--cor2);
    border-radius: 5px;
    color: var(--cor2);
    text-decoration: none;
}